# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Virtualenv
.venv/
env/
ENV/
*.env

# VSCode
.vscode/

# MacOS
.DS_Store

# IDEs
.idea/
*.swp

# Migrations
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Node modules (if using frontend)
node_modules/